<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DASK - {% block title %}{% endblock %}</title>
</head>
<body style="max-width: fit-content;">

<link rel="stylesheet" href="{{ url_for('auth.static', filename='style.css') }}">
<link>
<nav>
  <h1>DASK</h1>
  <ul id="nav_buttons">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      {% if self.title() == "Login" %}
        <li><a href="{{ url_for('auth.create_user') }}">Register</a>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
<script src="static/auth/js.js"></script>
</html>