<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DASK - {% block title %}{% endblock %}</title>
</head>
<body style="max-width: fit-content;">

<link rel="stylesheet" href="{{ url_for('auth.static', filename='style.css') }}">
<link>
<nav>
  <h1>DASK</h1>
  <ul id="nav_buttons">
        <li><a href=# onclick='showSignUpForm();'>Register</a></li>
  </ul>
</nav>
<section class="content" id="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
<script src="static/auth/js.js"></script>
</html>