{% extends 'auth/base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--  <form action="#" method="post" style="width: 400px;">-->
    <div style="width: 400px;">
      <div class="field">
        <label for="email">email</label>
        <input name="email" id="email" value="123@56" required>
      </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="QWE123qwe" required>
    </div>
    <input type="submit" value="Login" id="submit" onclick="Login()">
        <div id="error" style="color: darkred;">

        </div>
    </div>
<!--  </form>-->
{% endblock %}